{% extends 'news/base.html' %}

{% block css %}
<style>
mark {
  background-color: rgba(106, 90, 205, 0.8);
  color: white;
}
</style>
<!-- Есть беды с импортом CSS, выкрутился вот так -->
{% endblock %}
{% block content %}
<ul>
    {% for i in object_list %}
    <li>
        <p><h4>{{i.cat}}</h4>
        <h3 class="text-decoration-underline"><mark>{{i.title}}</mark></h3>
        {% if i.image %}
        <p><img src="{{i.image.url}}" width=20% height=20%></p>
        {% endif %}
        {% autoescape on %}
        <p><h5>{{i.content|linebreaks|truncatewords:100}}</h5>
        {% endautoescape %}
        <div class="clear"></div>
        <p><mark>{{i.time_update|date:"d-m-Y H:i:s"}}</mark></p>
        <p><div><a class="act" href="{{ i.get_absolute_url }}">Читать полностью</a></div>
        <p></p>
    </li>
    {% endfor %}
</ul>


{% endblock %}