{% extends 'news/base.html' %}
{% block css %}
<!-- Есть беды с импортом CSS, выкрутился вот так -->
<style>
a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #87CEEB;
}

a:link {
  color: #CD853F;
}

a:visited {
  color: #CD853F;
}

a:focus {
  border-bottom: 1px solid;
  background: #bcbcf2;
  color: #CD853F;
}

a:hover {
  border-bottom: 1px solid;
  background: #bcbcf2;
  color: #CD853F;
}

a:active {
  background: #bcbcf2;
  color: #FFEFD5;
}

mark {
  background-color: #9191ea;
  color: white;
}

h5 {
    background: rgba(365, 365, 365, 0.9);
    font-size: 13pt;
}
A.act{
    background: rgba(365, 365, 365, 0.9);
}
P.ac{
    background: rgba(365, 365, 365, 0.9);
}
h4 {
    font-size: 16pt;
}
h3 {
    font-size: 20pt;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
p {
    margin-right: 2.5%;
    margin-left: 2.5%;
   }
</style>
{% endblock %}

{% block content %}
<h3 class="text-decoration-underline"><mark>{{post.title}}</mark></h3>

{% if post.image %}
<p><img src="{{post.image.url}}" width=30% height=30%></p>
{% endif %}

{{post.content|linebreaks}}

<p><mark>{{post.time_update|date:"d-m-Y H:i:s"}}</mark></p>
{% endblock %}
